.search__form {
    margin-bottom: 60px;
    display: flex;
    position: relative;
    align-items: center;
    button {
        all: unset;
    }

    button {
        position: absolute;
        right: 15px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
    }
}